<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pinterest</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <!-- nav bar is only shown, if nav is true -->
  <%if(nav===true){ %>
    <div class="w-full px-10 py-3 flex justify-between bg-zinc-700 text-white items-center">
      <h3 class="font-semibold text-3xl">Pinterest</h3>
      <div class="flex gap-10 items-center ">
        <a class="px-3 py-2 rounded-lg text-xl  hover:underline font-semibold " href="/profile">Profile</a><a
          class=" px-3 py-2 rounded-lg text-xl  hover:underline font-semibold " href="/feed">Feed</a><a
          class="px-3 py-2 bg-red-700 text-xl  hover:bg-red-600 font-semibold  rounded-full" href="/logout">Log out</a>
      </div>

    </div>
    <% } %>